<header>
  <!-- Header content goes here -->
  <h1 style="margin-top: 10px; margin-left: 20px">Adi POC</h1>
</header>
<main style="margin-top: 15px">
  <!-- <div class="search-container">
    <input type="text" placeholder="Search..." class="search-input" />
    <button class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </div> -->
  <!-- <app-d3-js></app-d3-js> -->
  <mat-tab-group>
    <mat-tab label="E-charts">
      <app-e-charts></app-e-charts>
    </mat-tab>
    <mat-tab label="chartJs">
      <app-chart-js></app-chart-js>
    </mat-tab>
    <mat-tab label="d3-charts">
      <app-d3-js></app-d3-js>
    </mat-tab>
  </mat-tab-group>
</main>
